.btnmenu{
    width: 40px;
    height: 40px;
    border-radius: 15%;
    border: 1px solid rgb(200, 200, 200);
    color:var(--btn-show);
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-out;
}

.btnmenu:hover{
    background-color: rgba(17, 152, 241, 0.103);
}


@media (min-width:1200px) {
        .btnmenu{
            width: 35px;
            height: 35px;
        }
}