@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-color:rgb(255,255,255, 0.70);
  --section-color: rgb(255,255,255, 0.70);
  --menu-color: rgb(255,255,255);
}

@layer base{
  body{
    @apply dark:bg-stone-950
  }
  .section_data_container {
    @apply dark:bg-stone-900
  }
}


body{
  transition-duration: 1s, 1s;

}

.sectiondata{
  width: 100%;
  height: auto;
  padding-bottom:1em ;
}

.section_data_container{
  background-color:var(--section-color);
  padding: 1em;
  border-radius: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.barra{
  width: 100%;
  height: 10px;
}

/* clases del menu  */
.ul{
  display: none;
  backdrop-filter: blur(10px);
  transition-duration: 3s, 5s;
}

/* Se activa al dar click */
.ul.active{ 
  width: 100%;
  height: 100vh;
  display: block;
  /* el overflow es para scroll vertical  */
  /* overflow-x:hidden ;   */
  overflow-y: auto;
  padding-top: 1em; 
  padding-bottom: 5em; 
}  

.barra::-webkit-progress-value {
  background: rgb(43, 44, 44);
}

@media(min-width:1000px){
  .ul.active{
    height: 12vh;
    overflow-y: hidden;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68); 
  height: 10px;
  border-radius: 1em;
}

/* Colores pokemon */
.todos{
  background-color: rgb(185, 185, 185);
}

.electric{
  background-color: hsl(50, 100%, 68%);
}
.normal{
  background-color: hsl(350, 16%, 63%);
}
.fairy{
  background-color: hsl(350, 16%, 63%);
}
.fire{
  background-color: hsl(4, 100%, 68%);
}
.water{
  background-color: hsl(195, 95%, 40%);
}
.ice{
  background-color: hsl(195, 95%, 84%);
}
.rock{
  background-color: hsl(300, 1%, 60%);
}
.flying{
  background-color: hsl(162, 69%, 69%);
}
.grass{
  background-color: hsl(163, 34%, 44%);
}
.psychic{
  background-color: hsl(340, 100%, 89%);
}
.ghost{
  background-color: hsl(351, 49%, 29%);
}
.bug{
  background-color: hsl(121, 90%, 81%);
}
.poison{
  background-color: hsl(338, 17%, 41%);
}
.ground{
  background-color: hsl(38, 51%, 64%);
}
.dragon{
  background-color: hsl(347, 62%, 62%);
}
.steel{
  background-color: hsl(187, 68%, 36%);
}
.fighting{
  background-color: hsl(0, 0%, 18%);
  color: white;
}
.default{
  background-color: hsl(341, 24%, 13%);
}

.dark{
  background-color: hsl(0, 0%, 20%);
  color: white;
}
.unknown {
  background: #454545;
  color: white;
}
.shadow {
  background: #4f4f4f;
  color: white;
}