
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .main{
    height: 100%;
    padding-bottom: 1em;
  }
  
   @media(min-width:820px){
    .main{
      height: 100vh;
    }
  }

  @media (min-width:1000px) {
    .main{
      height: 100%;
    }
  } 
  